# Core quantum-computing stack used by Bell_State.ipynb
qiskit==2.4.2
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.47.0

# Plotting and numerical support
matplotlib==3.11.0
numpy==2.4.6
pylatexenc # Visualization only
pandas  # Visualization only

# Notebook kernel support
ipykernel==7.3.0



scipy
quimb # Tensor Network Simulation
git+https://github.com/QuAOS-Lab/SympleQ.git@dev # SympleQ: Clifford circuit simulation 
